//== Размеры шрифтов ==
// Базовый размер шрифта (Основной)
$font-size-base:      16px !default

// Уменьшенный размер шрифта
$font-size-small:     $font-size-base - 3px
$font-size-smalled:   $font-size-small - 1px

// Увеличенный размер шрифта
$font-size-large:     $font-size-base + 2px
$font-size-larged:    $font-size-large + 2px



// TODO: Перевести на Русский обозначение переменных для сетки bootstrap
//== Grid variable

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 768px !default
// 480px old
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 992px !default
// 768px old
$screen-sm-min: $screen-sm !default
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 1200px !default
// 992px old
$screen-md-min: $screen-md !default
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1680px !default
// 1200px old
$screen-lg-min: $screen-lg !default
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default
$screen-sm-max: ($screen-md-min - 1) !default
$screen-md-max: ($screen-lg-min - 1) !default

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns: 12 !default
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 20px !default
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-sm-min !default
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet: (980px + $grid-gutter-width) !default
//720px old value
//** For `$screen-sm-min` and up.
$container-sm: $container-tablet !default

// Medium screen / desktop
$container-desktop: (1180px + $grid-gutter-width) !default
//940px old value
//** For `$screen-md-min` and up.
$container-md: $container-desktop !default

// Large screen / wide desktop
$container-large-desktop: (1670px + $grid-gutter-width) !default
//1140px old value
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop !default